docs/04-operations/n8n_receive_webhook_bling.json
 {
   "nodes": [
     {
       "parameters": {
         "httpMethod": "POST",
         "path": "bling/webhook",
         "responseMode": "responseNode",
         "options": {
           "rawBody": true
         }
       },
       "id": "76e3c54d-44a1-46e3-982d-869f2e78749e",
       "name": "Bling Webhook",
       "type": "n8n-nodes-base.webhook",
       "typeVersion": 1,
       "position": [
         200,
         300
       ],
       "webhookId": "bling-webhook-gateway"
     },
     {
       "parameters": {
         "jsCode": "const crypto = require('crypto');\n\n// 1. Obter a assinatura enviada pelo Bling\nconst signatureHeader = $node[\"Bling Webhook\"].json headers['x-bling-signature-256'] || '';\nconst providedHash = signatureHeader.replace('sha256=', '');// 2. Chave secreta (Configure como variável de ambiente no n8n se preferir)\nconst clientSecret = 'SEU_CLIENT_SECRET_AQUI'; \n\n// 3. O corpo bruto (raw body) é essencial para validar a assinatura HMAC\nconst rawBody = $node[\"Bling Webhook\"].json.body;\nconst rawBodyString = typeof rawBody === 'string' ? rawBody : JSON.stringify(rawBody);\n\n// 4. Calcular o HMAC-SHA256\nconst calculatedHash = crypto\n  .createHmac('sha256', clientSecret)\n.update(rawBodyString)\n  .digest('hex');\n\nreturn {\n  isValid: calculatedHash === providedHash,\n  calculated: calculatedHash,\n  provided: providedHash\n};"
       },
       "id": "a1b2c3d4-e5f6-4321-8765-43210abcdef1",
       "name": "Validate Signature",
       "type": "n8n-nodes-base.code",
       "typeVersion": 1,
       "position": [
         420,
         300
       ]
     },
     {
       "parameters": {
         "conditions": {
           "boolean": [
             {
               "value1": "={{ $json.isValid }}",
               "value2": true
             }
           ]
         }
       },
       "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
       "name": "Is Valid?",
       "type": "n8n-nodes-base.if",
       "typeVersion": 1,
       "position": [
         640,
         300
       ]
     },
     {
       "parameters": {
         "operation": "rpush",
         "key": "bling:webhooks:pendentes",
         "value": "={{ JSON.stringify($node[\"Bling Webhook\"].json.body) }}"
       },
       "id": "e982d56d-1510-449e-9905-18105658e22c",
       "name": "Save to Redis",
       "type": "n8n-nodes-base.redis",
       "typeVersion": 1,
       "position": [
         860,
         200
       ],
       "credentials": {
         "redis": {
           "id": "YOUR_REDIS_CREDENTIAL_ID",
           "name": "Redis Local"
         }
       }
     },
     {
       "parameters": {
         "respondWith": "text",
         "responseBody": "Unauthorized: Invalid Signature",
         "options": {
           "responseCode": 401
         }
       },
       "id": "c3d4e5f6-g7h8-4i9j-k0l1-m2n3o4p5q6r7",
       "name": "Return 401",
       "type": "n8n-nodes-base.respondToWebhook",
       "typeVersion": 1,
       "position": [
         860,
         400
       ]
     },
     {
       "parameters": {
         "options": {
           "responseCode": 202
         }
       },
       "id": "d4e5f6g7-h8i9-j0k1-l2m3-n4o5p6q7r8s9",
       "name": "Return 202 (Accepted)",
       "type": "n8n-nodes-base.respondToWebhook",
       "typeVersion": 1,
       "position": [
         1080,
         200
       ]
     }
   ],
   "connections": {
     "Bling Webhook": {
       "main": [
         [
           {
             "node": "Validate Signature",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Validate Signature": {
       "main": [
         [
           {
             "node": "Is Valid?",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Is Valid?": {
       "main": [
         [
           {
             "node": "Save to Redis",
             "type": "main",
             "index": 0
           }
         ],
         [
           {
             "node": "Return 401",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Save to Redis": {
       "main": [
         [
           {
             "node": "Return 202 (Accepted)",
             "type": "main",
             "index": 0
           }
         ]
       ]
     }
   }
 }